@import url('./main-layout.css');
@import url('./views/list-view.css');    html {
      --lumo-primary-color: hsl(220, 90%, 52%);
      --lumo-primary-color-50pct: hsla(220, 90%, 52%, 0.5);
      --lumo-primary-color-10pct: hsla(220, 90%, 52%, 0.1);

    }
